body{
  background-color: #8fabad;

}

.main-img{
  text-align: center;
}

.flex {
  display: flex;
  flex-direction:row;
  justify-content:space-around;

}

.flex > a > div {
  background-color: #b1cebf;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}


a:link { text-decoration: none;
         color: inherit;
}


a:visited { text-decoration: none;
            color: inherit;
 }


a:hover { text-decoration: none;
          color: inherit;
 }


a:active { text-decoration: none;
           color: inherit; 
}
